:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);

  --light-red: hsl(354, 100%, 66%);

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 20px;
}

/* header section */

.logo {
  margin: 85px auto 45px;
  height: 15px;
}

h1 {
  font-weight: 300;
  font-size: inherit;
  margin: 0;
  color: var(--gray);
}

span {
  font-weight: 700;
  color: var(--very-dark-blue);
}

p {
  margin-top: 20px;
  font-size: 12px;
  color: var(--very-dark-blue);
  margin-bottom: 35px;
}

@media (min-width: 700px) {
  .logo {
    height: 24px;
  }

  h1 {
    font-size: 46px;
  }

  p {
    font-size: 20px;
  }
}

/* form & illustration */

input {
  box-sizing: border-box;
  height: 40px;
  width: 280px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  padding-left: 35px;
  border: 1px solid;
  border-color: var(--pale-blue);
}

::placeholder {
  color: var(--pale-blue);
  font-size: 12px;
}

.subscribe-form button  {
  box-sizing: border-box;
  height: 40px;
  width: 280px;
  display: block;
  margin: 10px auto 70px;
  border-radius: 25px;
  background-color: var(--blue);
  font-weight: 300;
  color: white;
  border: none;
  box-shadow: 1px 4px 13px 2px rgba(79, 125, 243, 0.35);
}

.subscribe-form button:hover {
  background-color: rgb(120, 148, 238);
}

.illustration {
  height: auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 115px;
}

@media (min-width: 700px) {
  input {
    display: inline-block;
    width: 420px;
    height: 55px;
    margin: 0 15px 70px 0;
  }

  ::placeholder {
    font-size: 16px;
  }

  .subscribe-form button {
    font-size: 16px;
    display: inline-block;
    width: 200px;
    height: 55px;
  }

  .illustration {
    max-width: 640px;
  }
}

/* social buttons */

.social {
  display: flex;
  justify-content: center;
}

.social button {
  color: var(--blue);
  width: 32px;
  height: 32px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid var(--pale-blue);
  text-align: center;
  font-size: 15px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social button:hover {
  color: white;
  background: var(--blue);
  border: 1px solid var(--blue);
}

/* footer */

footer {
  margin: 25px;
  font-size: 12px;
  color: var(--gray);
}

.attribution {
  margin-top: 45px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
